<div class="container">
  <div class="row">
  <form class="thing-form">
    <label>Click on buttons to Check tasks</label>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="task1()"> Task 1</button>
        <button type="submit" class="btn btn-primary" ng-click="task2()"> Task 2</button>
        <button type="submit" class="btn btn-primary" ng-click="task3()"> Task 3</button>
        <button type="submit" class="btn btn-primary" ng-click="task4()"> Task 4</button>
      </span>
      <div ng-show = "task1Visible" ng-repeat="m in stringValTask1 track by $index">
        {{m}}
      </div>
      <div ng-show = "task4Visible" id="task4">
        
      </div>
      <!-- <div ng-show = "task2Visible"> -->
      <div ng-show = "task3Visible">
      <span>
        <input type="file" file-reader="fileContent" />
      </span>  
      <highchart id="chart1" config="chartConfig"></highchart>
    </div>

  </form>
  </div>
</div>
